.signup-modal-align-center-fix {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.signup-center-fix-fix-fix{
  padding-top: 10px;
}
.signup-SignUpBorder {
  position: fixed;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 550px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
}
.signup-titleSignup {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.signup-center {
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
}
.signup-textOninput {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 31px;
  margin-bottom: 5px;
  font-weight: bold;
}
.signup-Emailcheck {
  position: absolute;
  padding: 5px;
  font-size: 11px;
  color: gray;
  cursor: pointer;
  width: 90px;
  border: 2px solid white;
  border-radius: 5px;
  top: 110px;
  right: 27px;
}
.signup-input2 {
  border: none;
  border-bottom: 1px solid black;
  width: 237px;
  padding-bottom: 8px;
  margin-left: 10%;
  margin-top: 0%;
  font-size: 12px;
}

.signup-input2:focus {
  outline: none;
}

.signup-ErrorMessage2 {
  height: 5px;
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 12px;
  color: red;
}
.signup-SignUpButton {
  width: 250px;
  line-height: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #91ba9f;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
}
.signup-center2 {
  position: relative;
  top: 38px;
  right: 17px;
  height: 20px;
  text-align: center;
}
.signup-ToLogin {
  position: absolute;
  left: 88px;
  top: 518px;
  font-size: 11px;
}
.signup-pointer {
  cursor: pointer;
}
