#pinControllTower-fix-search {
    position: fixed;
    z-index: 998; /*검색창때문에.*/
  }
  /*사이드바 컨테이너*/
  #pinControllTower-container-search {
    position: fixed;
    right: 0;
    z-index: 99;
    /* width: 360px; -> 굳이 설정안해도되는 옵션*/
    height: 100vh;
    display: flex;
    align-items: center;
  }
  /*사이드바*/
  #pinControllTower-sidebar-search {
    position: absolute;
    top: 45px;
    right: -330px;
    z-index: 99;
    width: 330px;
    height: calc(100vh - 45px);
    background-color: white;
    transition: right 0.3s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 20px;
  }
  /*사이드바 open+close*/
  #pinControllTower-sidebar-search.active-bar-search {
    right: 0;
  }
  /*사이드바 열고닫는 버튼*/
  #pinControllTower-close-open-btn-search {
    position: absolute;
    right: 0;
    z-index: 99;
    width: 30px;
    height:70px;
    border: none;
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(127, 177, 151);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s; /*애니메이션 추가*/
  }
  /*사이드바 버튼 open+close*/
  #pinControllTower-close-open-btn-search.active-btn-search {
    right: 330px;
  }
  /*사이드바 버튼의 이미지*/
  #pinControllTower-close-open-btn-img-search {
    width: 11px;
    height: 13px;
  }
  

  /*사이드바 내부 컨텐트 (박스)*/
  .pinControllTower-content-search {
    width: 300px;
    height: calc(100vh - 220px);
    margin-left: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column wrap;
  }
  /*-------------------------------------------------*/
  /*컨텐츠들 컨테이너 스크롤바 디자인*/
  .pinControllTower-content-search::-webkit-scrollbar {
    width: 7px;
  }
  .pinControllTower-content-search::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(148, 148, 148);
  }
  .pinControllTower-content-search::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }


  /* 필터를 전부 감싸는 div */
  .pinControllTower-filter-container-search {
    width: 90%;
    height: 70px;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-bottom:solid 2px rgb(234, 234, 234);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


.time-select-container {
  display: flex;
  align-items: center;
  width: 75px;
}


/* 페이지 버튼 */
.pagination-button {
  display: flex;
  justify-content: center;
}

/* 서울특별시 선택 버튼 */
.seoul-select-container {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

/* 구 선택 버튼 */
.ward-select-container {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}