.Home-Container {
  background-color: #587b60;
  position: absolute;
  opacity: 21%;
  width: 100%;
  height: 672vh;
}

.Home-Contents {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 7% 3% 20% 28% 28%;
}
.Home-grid2 {
  margin-top: 20%;
  border: 2px solid black;
  grid-column: 1/4;
  grid-row: 8/9;
}

/* .Home-checking {
  border: 2px solid black;
} */
.Home-MemoryRoad {
  text-align: center;
  color: #adadad;
  font-family: 'Oleo Script', cursive;
  font-size: 9vw;
}
.Home-MemoryRoadBorder {
  background-color: white;
  text-align: center;
  font-size: 1vw;
  border-radius: 15px;
}
.Home-MemoryRoadcontent {
  padding-top: 10%;
}
.Home-guide {
  font-size: 250%;
  font-weight: bold;
  padding-top: 10%;
  padding-bottom: 5%;
}
.Home-grid1 {
  display: flex;
}
.Home-number {
  font-size: 96px;
}
.Home-titleContent {
  margin-top: 20px;
  margin-left: 3%;
}
.Home-title {
  font-size: 30px;
  font-weight: bold;
}
.Home-content2 {
  color: #a5a5a5;
  font-size: 1vw;
}
.Home-introduce {
  width: 100%;
  margin-top: 25px;
  border-radius: 20px;
}
.Home-line {
  margin-top: 20%;
  color: white;
}
.Home-lastBorder {
  margin-top: 20%;
}
.Home-button {
  background-color: #91ba9f;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}
.Home-button > span {
  color: #626262;
}

@media (min-width: 800px) {
  .Home-content2 {
    margin-top: 10px;
    color: #a5a5a5;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .Home-Contents {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 7% 3% 28% 32% 32%;
  }
  .Home-number {
    font-size: 46px;
  }
  .Home-titleContent {
    margin-top: 7px;
    margin-left: 3%;
  }
  .Home-title {
    font-size: 25px;
    font-weight: bold;
  }
  .Home-content2 {
    color: #a5a5a5;
    font-size: 10px;
  }
}

/* 모바일 */
@media (max-width: 500px) {
  .Home-Contents {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 23fr 2fr;
    grid-template-rows: 7% 3% 28% 32% 32%;
  }
  .Home-MemoryRoad {
    text-align: center;
    color: #adadad;
    font-family: 'Oleo Script', cursive;
    font-size: 13vw;
  }
  .Home-number {
    font-size: 46px;
  }
  .Home-titleContent {
    margin-top: 4%;
    margin-left: 7%;
  }
  .Home-title {
    font-size: 20px;
    font-weight: bold;
  }
  .Home-content2 {
    color: #a5a5a5;
    font-size: 7px;
  }
}
