.Home-Contents {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.Home-notgrid {
  grid-column: 1/4;
  grid-row: 1/3;
  position: relative;
  text-align: center;
  margin-bottom: 5%;
  background-image: url('https://server.memory-road.net/upload/HomeImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* .Home-checking {
  border: 2px solid black;
} */
.Home-MemoryRoad {
  position: absolute;

  top: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e6e1e1;
  font-family: 'Oleo Script', cursive;
  font-size: 6vw;
  animation: txt_blur 1s alternate ease-in;

  /* opacity: 0; */
}
.Home-MemoryRoadBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  font-size: 1vw;
  border-radius: 20px;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 20%;
  animation: fadeIn 2s ease-in-out;
}
@keyframes txt_blur {
  0% {
    filter: blur(7px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: 0.1;
  }
  50% {
    filter: blur(7px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
    opacity: 0.3;
  }
  100% {
    filter: blur(0);
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%, 50%);
  }
  to {
    opacity: 1;
    /* transform: none; */
  }
}
.Home-MemoryRoadcontent {
  padding-top: 10%;
  font-size: 1vw;
}
#Home-message1 {
  animation: fadeInText 3s 1.5s ease-out forwards;
  opacity: 0;
}
#Home-message2 {
  animation: fadeInText 3s 2s ease-out forwards;
  opacity: 0;
}
#Home-message3 {
  animation: fadeInText 3s 2.5s ease-out forwards;
  opacity: 0;
}
@keyframes fadeInText {
  100% {
    opacity: 1;
  }
}
.Home-button3 {
  background-color: #91ba9f;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2%;
  margin: 2%;
  transition: 800ms ease all;
  animation: fadeInText 3s 3s ease-out forwards;
  opacity: 0;
}
.Home-button3:hover {
  border: 2px solid #91ba9f;
  background-color: white;
  color: #91ba9f;
  box-shadow: 0 80px 0 0 white inset, 0 -80px 0 0 #91ba9f inset;
}
.Home-button3 > span {
  color: #626262;
}
.Home-guide {
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 5%;
  animation: fadeInText 3s 3s ease-out forwards;
  opacity: 0;
}

.Home-guideEffect {
  animation: fadeInText 3s 0.5s ease-out forwards;
  opacity: 0;
}

.Home-grid1 {
  display: flex;
}
.Home-number {
  font-size: 96px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}
.Home-titleContent {
  margin-top: 20px;
  margin-left: 3%;
}
.Home-title {
  font-size: 30px;
  font-weight: bold;
}
.Home-content2 {
  color: #a5a5a5;
  margin-top: 5%;

  font-size: 1vw;
}
.Home-introduce {
  /* width: 100%; */
  width: 100%;
  height: 60vh;
  margin-top: 25px;
  border-radius: 20px;
}
.Home-line {
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  background-color: white;
  border: 1px solid white;
}
.Home-lastBorder {
  grid-column: 1/4;
  background-color: silver;
  margin-top: 20%;
  height: 100vh;
}
.Home-MemoryRoadBorder2 {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  height: 50vh;
  margin-top: 25vh;
  margin-bottom: 25vh;
  width: 40%;
  font-size: 13px;
  border-radius: 20px;
}
.Home-guide2 {
  font-size: 2vw;
  font-weight: bold;
  line-height: 25vh;
  opacity: 0;
}
.Home-button {
  background-color: #91ba9f;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2%;
  opacity: 0;
}
.Home-button > span {
  color: #626262;
}

.Home-button2 {
  margin: 2%;
}
.Home-ButtonEffect {
  opacity: 0;
  animation: fadeInText 3s 1s ease-out forwards;
  transition: 800ms ease all;
}
.Home-ButtonEffect:hover {
  border: 2px solid #91ba9f;
  background-color: white;
  color: #91ba9f;
  box-shadow: 0 80px 0 0 white inset, 0 -80px 0 0 #91ba9f inset;
}

.Home-topdownButtonPosition {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.Home-topdownButton {
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #91ba9f;
  background: none;
  transition: 800ms ease all;
}
.Home-topdownButton:hover {
  color: black;
}

@media (max-width: 1000px) {
  .Home-MemoryRoad {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e6e1e1;
    font-family: 'Oleo Script', cursive;
    font-size: 7vw;
    animation: txt_blur 1s alternate ease-in;
    /* opacity: 0; */
  }
  .Home-MemoryRoadBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    font-size: 1vw;
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20%;
    animation: fadeIn 2s ease-in-out;
  }
}

@media (max-width: 840px) {
  .Home-Container {
    background-color: rgb(88, 123, 96, 21%);
    position: absolute;
  }
  .Home-MemoryRoad {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e6e1e1;
    font-family: 'Oleo Script', cursive;
    font-size: 7vw;
    animation: txt_blur 1s alternate ease-in;
    /* opacity: 0; */
  }
  .Home-MemoryRoadBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    font-size: 1vw;
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20%;
    animation: fadeIn 2s ease-in-out;
  }
  #Home-message1 {
    font-size: 8px;
  }
  #Home-message2 {
    font-size: 8px;
  }
  #Home-message3 {
    font-size: 10px;
  }
  .Home-Contents {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 6.3%;
  }
  .Home-number {
    font-size: 46px;
  }
  .Home-titleContent {
    margin-top: 7px;
    margin-left: 3%;
  }
  .Home-title {
    font-size: 25px;
    font-weight: bold;
  }
  .Home-content2 {
    color: #a5a5a5;
    margin-top: 0%;
    font-size: 10px;
  }
  .Home-guide {
    font-size: 15px;
  }

  .Home-lastBorder {
    grid-column: 1/4;
    background-color: silver;
    margin-top: 20%;
    height: 50vh;
  }
  .Home-MemoryRoadBorder2 {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 40%;
    font-size: 11px;
    border-radius: 20px;
  }
  .Home-guide2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 15vh;
    opacity: 0;
  }

  .Home-button {
    font-size: 10px;
    margin: 2%;
  }
  .Home-button3 {
    font-size: 12px;
  }
  .Home-topdownButtonPosition {
    position: fixed;
    bottom: 25px;
    right: 50px;
  }
  .Home-topdownButton {
    font-size: 1vw;
    color: #91ba9f;
  }
}

/* 모바일 */
@media (max-width: 500px) {
  .Home-Contents {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 25fr 1fr;
  }
  .Home-MemoryRoadcontent {
    padding-top: 10%;
    font-size: 10px;
  }

  .Home-MemoryRoad {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e6e1e1;
    font-family: 'Oleo Script', cursive;
    font-size: 10vw;
    animation: txt_blur 1s alternate ease-in;
    /* opacity: 0; */
  }
  .Home-MemoryRoadBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    font-size: 10px;
    border-radius: 20px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20%;
    animation: fadeIn 2s ease-in-out;
  }

  .Home-number {
    font-size: 46px;
  }
  .Home-titleContent {
    margin-top: 2%;
    margin-left: 7%;
  }
  .Home-title {
    font-size: 20px;
    font-weight: bold;
  }
  .Home-content2 {
    color: #a5a5a5;
    font-size: 7px;
  }
  .Home-button3 {
    font-size: 12px;
  }
  .Home-button {
    background-color: #91ba9f;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
  }
  .Home-topdownButtonPosition {
    position: fixed;
    bottom: 20px;
    right: 25px;
  }
  .Home-lastBorder {
    grid-column: 1/4;
    background-color: silver;
    margin-top: 20%;
    height: 50vh;
  }
  .Home-MemoryRoadBorder2 {
    /* position: absolute; */
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 20vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    font-size: 1vw;
    border-radius: 20px;
    padding-bottom: 5%;
  }
  .Home-guide2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 10vh;
    opacity: 0;
  }

  .Home-topdownButton {
    font-size: 10px;
    color: #91ba9f;
  }
}
