.mainpage-container {
  
}
.mainpage-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.mainpage-text-section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.mainpage-image-section {
  position: relative;
  width: 400px; /*이래야 flex 먹힘*/
  height: calc(100vh - 490px);
  display: flex;
  flex-flow: row nowrap;
  /* margin-left: 12%; */
  justify-content: center;
}
.mainpage-opacity-true {
  opacity: 100%;
}
.mainpage-opacity-false {
  opacity: 0%;
}

.mainpage-dots-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.mainpage-dots-box {
  width: 75px;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.mainpage-dots-circle-zero {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #b2d4be;
}
.mainpage-dots-circle-first {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #96B9A0;
}
.mainpage-dots-circle-second {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #96B9A0;
}
.mainpage-dots-next-circle {
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #96B9A0;
  cursor: pointer;
}
.mainpage-dots-next-button {
  width: 15px;
  height: 15px;
  margin-left: 2px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.mainpage-dots-next-circle:hover {
  background-color: #b2d4be;
}
.mainpage-dots-text {
  width: 200px;
  margin-left: 20px;
  font-size: 0.9em;
  font-weight: 600;
  color: #80a089;
  /* cursor: pointer; */
}

/*-------mainpage-first--------*/
.background-shadow {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.savePinSkeleton-container-box {
  position: absolute;
  z-index: 10;
  left: 45%;
  top: 5%;
}
#savePinSkeleton-map-image {
  z-index: 1;
  left: 10%;
  top: 35%;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  background: url('http://localhost:5500/server/upload/Screenshot from 2022-02-27 14-21-17.png') center no-repeat;
}
#savePinSkeleton-marker-image {
  z-index: 5;
  left: 39%;
  top: 105%;
  width: 55px;
  height: 55px;
  background: url('https://server.memory-road.net/upload/blue_marker.png') center no-repeat;
  background-size: 35px;
  box-shadow: none;
}
.textSection-text-title {
  font-size: 2em;
  font-weight: 800;
}
.line-up {
  animation: lineUp 2s ease-out 1;
}
@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.textSection-text-content {
  margin: 3px 0;
  font-size: 0.9em;
  font-weight: 300;
}

.line-up-component-right {
  animation: lineUpComponentRight 2s ease-out 1;
}
@keyframes lineUpComponentRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.line-up-component-left {
  animation: lineUpComponentLeft 2s ease-out 1;
}
@keyframes lineUpComponentLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.line-up-component-bottom {
  animation: lineUpComponentBottom 2s ease-out 1;
}
@keyframes lineUpComponentBottom {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-------mainpage-second--------*/
#savePinSkeleton-sidebar-image {
  z-index: 1;
  left: 5%;
  top: 4%;
  width: 300px;
  height: 480px;
  border-radius: 20px;
  background: url('http://localhost:5500/server/upload/Screenshot from 2022-02-28 02-46-59.png') center no-repeat;
  background-size: 100%;
  background-color: #fff;
}
.mainpage-pinCard {
  position: relative;
  top: 10.9%;
  right: 12%;
  margin: 5px 0;
  z-index: 5;
  width: 170px;
  height: 74px;
}
.mainpage-pinCard-green {
  background-color: #b2d4be;
  left: 10%;
  top: 20.5%;
  height: 118px;
}
.change-style1 {
  top: 29.4%;
  height: 35px;
}
.change-style2 {
  top: 28%;
  height: 35px;
}
.mainpage-sidebar-box-container {
  width: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 3.4%;
  margin-left: 13%;
}
.mainpage-pinCard-delete-btn {
  position: absolute; 
  top: 6px;
  left: 100px;
  border: none;
  font-size: 0.8em;
  font-weight: 600;
  color: white;
  background-color: transparent;
}
.mainpage-pinCard-modify-btn {
  position: absolute;
  top: 6px;
  left: 130px;
  border: none;
  font-size: 0.8em;
  font-weight: 600;
  color: white;
  background-color: transparent;
}
/*-------mainpage-third--------*/
.mainpage-storycard-align {
  left: 5%;
  top: 7%; 
}
.mainpage-colorSelectbox-position {
  left: 30%;
  top: 70%;
}
.mainpage-wardSelectbox-position {
  left: 35%;
  top: 70%;
}
/*-------mainpage-fifth--------*/
.mainpage-map-colorchip-background {
  position: relative;
  top: 15%;
  left: 70%;
  width: 200px;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.mainpage-map-colorchip {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}
.color-first {
  background-color: rgb(240, 240, 240);
}
.color-second {
  background-color: #9FC9B3;
}
.color-third {
  background-color: #6E9C82;
}
.color-fourth {
  background-color: #3A7855;
}
.createPinModal-background {
  position: relative;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.mainpage-searchBar-container {
  position: absolute;
  display: flex;
  justify-content: center;
}
.searchPin-background {
  width: 275px;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.mainpage-pinContent-container {
  position: absolute;
  z-index: 10;
  top: 32.5%;
}
.mainpage-selectbox-custom-1 {
  position: absolute;
  z-index: 10;
  left: 51%;
  top: 66%;
  width: 70px;
  height: 28px;
  padding-top: 8px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: rgba(41, 41, 41, 0.898);
  background-color: #E8E8E8;
}
.mainpage-selectbox-custom-2 {
  position: absolute;
  z-index: 10;
  left: 51%;
  top: 77%;
  width: 70px;
  height: 28px;
  padding-top: 8px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: rgba(41, 41, 41, 0.898);
  background-color: #E8E8E8;
}
.mainpage-all-route-button {
  position: absolute;
  z-index: 10;
  left: 32%;
  top: 66%;
  padding: 14px 18px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #96B9A0;
}
/* .mainpage-rotate-section {
  transform: rotate(-10deg);
} */
.mainpage-align-fifth {
  margin-top: 5%;
  justify-content: flex-start;
}
#savePinSkeleton-map-image-fifth {
  z-index: 1;
  left: 62%;
  top: 58.5%;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: url('http://localhost:5500/server/upload/Screenshot from 2022-02-27 14-21-17.png') center no-repeat;
  background-size: 300px;
}
/*footer*/
.mainpage-footer-background {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 55vh;
  border-radius: 100% 0 0 0;
  background-color: #96B9A0;
}
.mainpage-githubLinks-label {
  position: absolute;
  z-index: 5;
  bottom: 5%;
  right: 7%;
}
.mainpage-githubLinks-link-tag {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainpage-githubLinks-image {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}
.mainpage-githubLinks-text {
  margin: 10px 0 10px 10px;
  font-size: 0.9em;  
  color: #fff;
}


@media screen and (max-width: 1125px) {
  .mainpage-section {
    flex-flow: column wrap;
  }
}