/*전체 페이지*/
.myRouteStore-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.myRouteStore-background {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.myRouteStore-container {
  width: 65%;
  height: 100%;
}

.myRouteStore-title {
  font-size: 2em;
  font-weight: 800;
  color: rgb(53, 53, 53);
  margin: 70px 0;
}

.myRouteStore-divide-line {
  height: 2px;
  border: none;
  background-color: rgb(234, 234, 234);
}

/*selectBoxZone*/
.myRouteStore-selectZone {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px 0;
}
.myRouteStore-selectBoxZone {
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.myRouteStore-searchBoxZone {
  width: 247px;
  display: flex;
  justify-content: space-between;
}

/*검색창*/
.myRouteStore-search-input {
  width: 180px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgb(194, 194, 194);
  background-color: rgb(227, 227, 227);
  padding-left: 5px;
}
.myRouteStore-search-btn {
  width: 50px;
  height: 35px;
  border: none;
  outline: none;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 8px;
  background-color: #91BA9F;
}

/*카드 상자*/
.myRouteStore-createRouteBox-align {
  /* margin-top: 35px; */
  width: 100%;
  height: calc(100vh - 35%);
  display: flex;
  justify-content: center;
}

.myRouteStore-contentBox {
  /* position: relative; */
  padding-top: 30px;
  width: 100%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 253)
}
.myRouteStore-contents {
  width: 1100px;
  height: 100%; /*컨텐츠 내부 박스 높이*/
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  overflow-y: auto;
  overflow-x: hidden;
}
.myRouteStore-contents::-webkit-scrollbar {
  width: 7px;
}
.myRouteStore-contents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(148, 148, 148);
}
.myRouteStore-contents::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*루트 생성창으로 이동하는 버튼 + */
.myRouteStore-createRouteBox-btn {
  width: 320px;
  height: 220px;
  border: none;
  border: 2.5px dashed rgb(203, 203, 203);
  border-radius: 20px;
  margin: 12px 12px 12px 2.5%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.myRouteStore-createRouteBox-add-image {
  width: 25px;
  opacity: 0.3;
}

/*페이지 네이션 위치*/
.myRouteStore-paginations {
  position: relative;
  bottom: 30px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/*너비*/
@media screen and (max-width: 1595px){
  .myRouteStore-contents{
    justify-content: center;
  }
}
@media screen and (max-width: 1069px){
  .myRouteStore-contents{
    justify-content: center;
  }
  .myRouteStore-container{
    width: 90%;
  }
}
@media screen and (max-width: 800px){
  .myRouteStore-container{
    width: 95%;
  }
  .myRouteStore-title{
    margin-top: 75px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 610px){
  .myRouteStore-selectBoxZone {
    margin-bottom: 10px;
  }
}

/*높이*/
@media screen and (max-height: 1400px){
  .myRouteStore-contentBox {
    height: 82%;
  }
}
@media screen and (max-height: 1024px){
  .myRouteStore-contentBox {
    height: 75%;
  }
}
@media screen and (max-height: 825px){
  .myRouteStore-contentBox {
    height: 62%;
  }
  .myRouteStore-title{
    margin-top: 75px;
    margin-bottom: 25px;
  }
  .myRouteStore-selectZone {
    margin: 15px 0;
  }
  .myRouteStore-selectBoxZone {
    margin-bottom: 10px;
  }
}
@media screen and (max-height: 670px){
  .myRouteStore-contentBox {
    height: 55%;
  }
}
@media screen and (max-height: 570px){
  .myRouteStore-contentBox {
    height: 45%;
  }
}

/*아놔 media query 이렇게 쓰는 거 아닌듯 .. -> 일단 임시방편으로 수정은 해놓음*/