/*전체 페이지*/
.myRouteStore-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.myRouteStore-background {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.myRouteStore-container {
  width: 65%;
  height: 100%;
}

.myRouteStore-title {
  font-size: 2em;
  font-weight: 800;
  color: rgb(53, 53, 53);
  margin: 90px 0;
}

.myRouteStore-divide-line {
  height: 2px;
  border: none;
  background-color: rgb(234, 234, 234);
}

/*selectBoxZone*/
.myRouteStore-selectZone {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px 0;
}
.myRouteStore-selectBoxZone {
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.myRouteStore-searchBoxZone {
  width: 247px;
  display: flex;
  justify-content: space-between;
}

/*검색창*/
.myRouteStore-search-input {
  width: 180px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgb(194, 194, 194);
  background-color: rgb(227, 227, 227);
  padding-left: 5px;
}
.myRouteStore-search-btn {
  width: 50px;
  height: 35px;
  border: none;
  outline: none;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 8px;
  background-color: #91BA9F;
}

/*카드 상자*/
.myRouteStore-createRouteBox-align {
  margin-top: 25px;
  width: 100%;
  height: 82%;
  display: flex;
  justify-content: center;
}

.myRouteStore-contentBox {
  /* position: relative; */
  width: 100%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 253)
}
.myRouteStore-contents {
  width: 1100px;
  height: 100%; /*컨텐츠 내부 박스 높이*/
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  overflow-y: auto;
  overflow-x: hidden;
}
.myRouteStore-contents::-webkit-scrollbar {
  width: 7px;
}
.myRouteStore-contents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(148, 148, 148);
}
.myRouteStore-contents::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*루트 생성창으로 이동하는 버튼*/
.myRouteStore-createRouteBox-btn {
  width: 320px;
  height: 220px;
  border: none;
  border: 2.5px dashed rgb(203, 203, 203);
  border-radius: 20px;
  margin: 12px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.myRouteStore-createRouteBox-add-image {
  width: 25px;
  opacity: 0.3;
}

/*페이지 네이션 위치*/
.myRouteStore-paginations {
  position: relative;
  bottom: 30px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/*아이패드 프로 대응*/
@media screen and (max-width: 1024px){
  .myRouteStore-container{
    width: 75%;
  }
  .myRouteStore-contentBox{
    height: 78%;
  }
}
/*아이패드 대응*/
@media screen and (max-width: 800px){
  .myRouteStore-container{
    width: 95%;
  }
  .myRouteStore-title {
    margin-top: 120px;
    margin-bottom: 70px;
  }
}
/*아이폰 대응*/
@media screen and (max-width: 600px){
  .myRouteStore-contentBox {
    height: 60%;
  }
  .myRouteStore-searchBoxZone {
    width: 100vw;
    position: relative;
    justify-content: flex-end;
    margin-top: 15px;
  }
  .myRouteStore-search-input {
    margin-right: 6px;
  }
  .myRouteStore-title {
    margin-top: 100px;
    margin-bottom: 55px;
  }
  .myRouteStore-selectZone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .myRouteStore-searchBoxZone {
    margin-right: 17%;
  }
  .myRouteStore-paginations {
    padding-bottom: 190px;
  }
}
@media screen and (max-width: 420px) {
  .myRouteStore-contentBox {
    height: 50%;
  }
  .myRouteStore-contents{
    justify-content: center;
  }
}
/*갤럭시 대응*/
@media screen and (max-width: 380px){
  .myRouteStore-contentBox {
    height: 45%;
  }
  .myRouteStore-contents{
    justify-content: center;
  }
  .myRouteStore-searchBoxZone {
    margin-right: 12%;
  }
}
@media screen and (max-width: 320px) {
  .myRouteStore-contentBox {
    height: 50%;
  }
  .myRouteStore-contents{
    justify-content: center;
  }
  .myRouteStore-title {
    margin: 80px 0 30px 0;
  }
  .myRouteStore-selectZone {
    margin: 10px;
  }
  .myRouteStore-searchBoxZone {
    margin-right: 15px;
  }
}
/*갤럭시 폴더 대응*/
@media screen and (max-width: 280px){
  .myRouteStore-selectBoxZone {
    width: 100vw;
    flex-flow: column wrap;
    align-items: flex-end;
    margin-right: 10px;
  }
  .myRouteStore-contents{
    justify-content: center;
  }
  .myRouteStore-searchBoxZone {
    margin-left: 12%;
  }
  .myRouteStore-card-container {
    width: 250px;
    height: 180px;
  }
  .myRouteStore-card-date {
    right: 85px;
  }
}

/*아놔 media query 이렇게 쓰는 거 아닌듯 ..*/