#test-ex {
  width: 300px;
  height: 1000px;
  background-color: pink;
}
.draggable {
  width: 50px;
  height: 50px;
  font-size: 2em;
}
#p1 {
  background-color: rgb(221, 31, 31);
}
#p2 {
  background-color: orange;
}
#p3 {
  background-color: yellow;
}
#p4 {
  background-color: greenyellow;
}
#p5 {
  background-color: green;
}
#p6 {
  background-color: blue;
}
#p7 {
  background-color: hotpink;
}