.login-LoginBorder {
  position: fixed;
  top: 7em;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 550px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
}
.login-titleLogin {
  margin-top: 5%;
  font-size: 18px;
  text-align: center;
}
.login-center {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}
.login-input {
  border: none;
  border-bottom: 1px solid black;
  width: 237px;
  margin-left: 10%;
  margin-top: 12%;
  font-size: 12px;
}
.login-input:focus {
  outline: none;
}

.login-ErrorMessage {
  margin-top: 8px;
  padding-left: 30px;
  font-size: 12px;
  color: red;
}
.login-Button {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  background-color: #91ba9f;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
}
.login-linebottom {
  width: 220px;
}
.login-OauthButton {
  text-align: center;
}
.login-GoogleButton {
  width: 78%;
  height: 45px;
}

.login-NaverButton {
  width: 78%;
  height: 41px;
}
.login-kakaoButton {
  width: 78%;
  height: 42px;
}
.login-pointer {
  cursor: pointer;
}
.login-TotheSignup {
  margin-top: 30px;
  font-size: 11px;
}
