/*페이지네이션*/
.myRouteStore-paginations-prev-btn-search,
.myRouteStore-paginations-next-btn-search {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.myRouteStore-paginations-prev-btn-search.unactive,
.myRouteStore-paginations-next-btn-search.unactive{
  pointer-events: none;
  opacity: 0.4;
}

.myRouteStore-paginations-prev-img-search,
.myRouteStore-paginations-next-img-search {
  width: 15px;
  opacity: 0.4;
}
.myRouteStore-paginations-page-btn-search { /*page nums*/
  border: 2px solid rgb(232, 232, 232);
  border-radius: 8px;
  outline: none;
  margin: 0 4px;
  font-size: 0.8em;
  font-weight: 800;
  color: rgb(72, 72, 72);
  background: transparent;
  cursor: pointer;
}

.myRouteStore-paginations-page-btn-search.active { /*page nums*/
    border: 2px solid rgb(232, 232, 232);
    border-radius: 9px;
    outline: none;
    margin: 0 4px;
    font-size: 0.8em;
    font-weight: 800;
    color: rgb(72, 72, 72);
    background: rgb(108, 147, 127);;
    cursor: pointer;
  }