/*학민님 모달창 양 옆 사이드는 300px*/
/*모달창 전체 컨테이너*/
#createPinModal-background {
  width: 250px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
/*모달의 요소들 담은 내부 컨테이너*/
#createPinModal-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
/*기본 input창 디자인*/
.createPinModal-input {
  border: 2px solid rgb(158, 158, 158, 0.7);
  border-radius: 10px;
  padding-left: 7px;
  margin-bottom: 7px;
  outline: none;
  height: 40px;
  transition: .3s;
}
/*input창에 마우스 올렸을 때 반응*/
.createPinModal-input:hover{
  box-shadow: 0 0 4px 0 rgba(146, 146, 146, 0.5)
}
/*input창에 마우스 클릭했을 때 반응*/
.createPinModal-input:focus {
  border-color: rgba(30, 143, 255, 0.6);
  box-shadow: 0 0 4px 0 rgba(30, 143, 255, 0.7);
}
/*이미지 업로드 사진 버튼의 input 창*/
.addImgFilesBtn {
  border: 2px dashed rgb(158, 158, 158, 0.7);
}
/*이미지 업로드 사진 버튼의 라벨*/
#file-upload-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}
/*진짜 업로드 버튼 숨기기*/
.display-none {
  display: none;
  /* visibility: hidden; */
}
/*input의 타이틀 디자인*/
.createPinModal-title {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(63, 63, 63)
}
/*글자 필수 강조 표시*/
.text-highlight {
  color: #91BA9F; 
}
/*선택한 사진을 담는 컨테이너*/
#createPinModal-pictures-background {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /*div 태그의 범위를 넘었을 때 스크롤 처리*/
  margin-bottom: 10px;
  /* background-color: pink; */
}
/*사진 컨테이너 스크롤바 디자인*/
#createPinModal-pictures-background::-webkit-scrollbar {
  width: 7px;
}
#createPinModal-pictures-background::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(148, 148, 148);
}
#createPinModal-pictures-background::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
#createPinModal-pictures-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
/*사진 박스*/
.createPinModal-picture-box {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
}
/*사진*/
.createPinModal-picture {
  height: 100%;
}
/*사진 닫기 버튼*/
.createPinModal-delete-picture {
  position: absolute;
  right: 12px;
  bottom: 43px;
  z-index: 999;
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
}
/*사진 닫기 이미지*/
.createPinModal-close-btn {
  width: 20px;
  height: 20px;
}
/*핀 저장 버튼 디자인*/
#createPinModal-save-btn {
  line-height: 28px;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #91BA9F;
}
#createPinModal-not-save-btn {
  margin-top: 7px;
  line-height: 28px;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(158, 158, 158, 0.5);
}
