.allRoutesInMap-menu {
    /* margin: 50px; */
  
    position: absolute;
    z-index: 999;
  }
  .allRoutesInMap-select {
    font-size: 30px;
    background-color: silver;
    width: 70px;
    border: none;
    border-radius: 10px;
    appearance: none;
  }

  #allRoutesInMap-images {
    overflow-x: scroll;
    box-sizing: border-box;
    border: 7px solid #91BA9F;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 30%;
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 98;
    text-align: center;
  }
  /* 구글 크롬에서 스크롤 안 보이게 하는 css */
  #allRoutesInMap-images::-webkit-scrollbar {
    display: none;
  }


  #el-img-div {
    border: 5px solid #91BA9F;
    border-radius: 20px;
    min-height: 40px;
    max-width: 20%;
    max-height: 100%;
    margin: 10px;
   }
   
   #el-img-img {
     max-height: 100%;
   }