.allRoutesInMap-menu {
    margin: 50px;
  
    position: absolute;
    z-index: 999;
  }
  .allRoutesInMap-select {
    font-size: 30px;
    background-color: silver;
    width: 70px;
    border: none;
    border-radius: 10px;
    appearance: none;
  }

  #allRoutesInMap-images {
    overflow: auto;
    overflow-y: hidden;
    border: 10px solid #91BA9F;
    border-radius: 20px;
    display: grid;
    background-color: white;
    width: ;
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 98;
    text-align: center;
  }

  #el-img {
    border: 5px solid #91BA9F;
    border-radius: 20px;
    max-width: 20%;
    max-height: 100%;
    margin: 10px;
   }
   