/*컴포넌트 디자인*/
.myRouteStore-card-container-search {
    width: 95%;
    height: 190px;
    margin: 12px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex: 0 0 auto;
    margin-left: 4px;
  }
  .myRouteStore-card-container-search:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  /* 활성화된 카드 */
  .myRouteStore-card-container-search.active {
    width: 95%;
    height: 190px;
    margin: 12px;
    border-radius: 15px;
    box-shadow: rgb(77, 79, 77) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex: 0 0 auto;
    margin-left: 4px;
  }
  .myRouteStore-card-top-search {
    width: 100%;
    height: 45%;
  }
  .myRouteStore-card-image-search { /*image*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    border-radius: 14px 14px 0 0;
  }

  .myRouteStore-card-image-search.null { /*image*/
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    opacity: 0.75;
    border-radius: 15px 15px 0 0;
    background-color: #FFB788;
  }
  .myRouteStore-card-bottom-search {
    width: 100%;
    height: 55%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: rgb(232, 232, 232);
  }
  .myRouteStore-card-title-search {
    position: relative;
    width: 100%;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .myRouteStore-card-text-search { /*text*/
    font-size: 1.1em;
    font-weight: 700;
    color:rgb(38, 38, 38);
  }
  .myRouteStore-card-time-container-search { /*time*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 3px 7px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 0.7em;
    color: white;
    background-color: rgb(139, 139, 209);
  }
  .myRouteStore-card-time-search {
    margin-right: 1px;
    margin-bottom: 0.5px;
  }
  .myRouteStore-card-date-search { /*date*/
    position: relative;
    right: 35%;
    bottom: 3px;
    font-weight: 300;
    font-size: 0.8em;
    color:rgb(155, 155, 155);
  }
  .myRouteStore-card-route-search { /*route line*/
    position: relative;
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  
  /*페이지네이션*/
  .myRouteStore-paginations-search {
    position: relative;
    top: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .myRouteStore-paginations-prev-btn-search,
  .myRouteStore-paginations-next-btn-search {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px;
  }
  .myRouteStore-paginations-prev-img-search,
  .myRouteStore-paginations-next-img-search {
    width: 15px;
    opacity: 0.4;
  }
  .myRouteStore-paginations-page-btn-search { /*page nums*/
    border: 2px solid rgb(232, 232, 232);
    border-radius: 8px;
    outline: none;
    margin: 0 4px;
    font-size: 0.8em;
    font-weight: 800;
    color: rgb(72, 72, 72);
    background: transparent;
    cursor: pointer;
  }
  
  /*아이패드 프로 대응*/
  @media screen and (max-width: 1024px){
    .myRouteStore-container-search{
      width: 75%;
    }
    .myRouteStore-contentBox-search{
      height: 78%;
    }
    .myRouteStore-contents-search {
      height: 80%;
    }
  }
  /*아이패드 대응*/
  @media screen and (max-width: 800px){
    .myRouteStore-container-search{
      width: 95%;
    }
    .myRouteStore-title-search {
      margin-top: 120px;
      margin-bottom: 70px;
    }
  }
  /*아이폰 대응*/
  @media screen and (max-width: 600px){
    .myRouteStore-searchBoxZone-search {
      width: 100vw;
      position: relative;
      justify-content: flex-end;
      margin-top: 15px;
    }
    .myRouteStore-search-input-search {
      margin-right: 6px;
    }
    .myRouteStore-title-search {
      margin-top: 100px;
      margin-bottom: 55px;
    }
    .myRouteStore-selectZone-search {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .myRouteStore-searchBoxZone-search {
      margin-right: 17%;
    }
    .myRouteStore-paginations-search {
      padding-bottom: 190px;
    }
  }
  /*갤럭시 대응*/
  @media screen and (max-width: 360px){
    .myRouteStore-searchBoxZone-search {
      margin-right: 12%;
    }
  }
  /*갤럭시 폴더 대응*/
  @media screen and (max-width: 280px){
    .myRouteStore-selectBoxZone-search {
      width: 100vw;
      flex-flow: column wrap;
      align-items: flex-end;
      margin-right: 10px;
    }
    .myRouteStore-searchBoxZone-search {
      margin-left: 12%;
    }
    .myRouteStore-card-container-search {
      width: 250px;
      height: 180px;
    }
    .myRouteStore-card-date-search {
      right: 85px;
    }
  }